body {
    font-family: sans-serif;
    background-color: rgb(76, 152, 177);
    ;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
}

header {
    background-color: white;
    padding: 3%;
}



h1 {
    font-size: 500%;
    text-align: center;
    padding-bottom: 0;
    margin-top: 2%;
    margin-bottom: 5%;
    letter-spacing: 25px;
    font-weight: 500;


}

.header {
    margin-left: 25%;
    width: 50%;

}

.i {
    color: rgb(76, 147, 169);
    font-weight: 600;
}



nav a {
    color: black;
    text-decoration-line: none;
    font-size: 150%;
    letter-spacing: 5px;
    font-weight: 500;

}

nav li a:hover {
    background-color: black;
    color: white;
    padding: 15%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 10%;



}

.homenav {
    padding-bottom: 12%;
}

h2 {
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 250%;
    padding: 3%;
    letter-spacing: 5px;
}

.team-member {
    display: inline-block;
    margin: 10px;
    width: 200px;
}

.team-member img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.meet-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.team-member {
    margin: 20px;
    text-align: center;
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 40px;
    padding-top: 15px;
    font-family: Arial, sans-serif;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    margin-top: 100px;

}

.footer {
    color: black;
    letter-spacing: 5px;
    font-weight: 400;
    margin-bottom: 2;
}

.footerp {
    padding-top: 0;
    font-weight: 300;
    font-size: 120%;
    color: black;
}

.iphone {
    width: 50%;
    height: 50%;
}

p,
ol li {
    text-align: center;
    color: white;
    font-size: 150%;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: 100;
}

.name {
    font-size: 120%;
}

.team-member p {
    font-size: 95%;
}

.mission-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    /*background-color: rgba(200, 249, 255, 0.635);*/
    margin-left: 10%;
    margin-right: 10%;
}

/* style for each mission */
.mission {
    width: 60%;
    max-width: 800px;
    background-color: rgba(200, 249, 255, 0.635);

    margin-bottom: 30px;
    margin-top: 30px;
    padding: 40px;
    text-align: center;
    transition: all .2s ease-in-out;
}

.mission h3 {
    font-size: 190%;
    margin-bottom: 20px;
    margin-top: 0px;
    font-weight: lighter;
}

.mission p {
    font-size: 130%;
    line-height: 1.5;
    margin: 0;
    color: black;
}


.nutrition {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.features {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
}

.feature-box {
    background-color: rgba(200, 249, 255, 0.635);
    border: 3px solid white;
    border-radius: 10px;
    margin-bottom: 4%;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.feature-box:hover {
    transform: translateY(-10px);
}

.feature-box h3 {
    margin-top: 0;
    font-size: 24px;
    color: black;
    font-weight: lighter;

    text-align: center;
}

.feature-box p {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.5;
    color: black;
}


video {
    display: block;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
}

.features h3 {
    letter-spacing: 8px;
    font-weight: 400;
    padding: 1%;
}


body {
    animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {

    0% {
        opacity: 0;
        visibility: visible;
        background-color: white;
    }

    20% {
        background-color: white;
    }

    100% {
        opacity: 1;
        visibility: visible;

    }
}


.beginning {
    font-size: 300%;
    text-align: left;
    margin-right: 25%;
}

.second {
    font-size: 250%;
    text-align: right;
}


.phone {
    display: flex;
    flex-direction: row;
    column-gap: 0;
    align-items: center;



}

.phone>* {
    margin: 0;
}

.iphone-desc {
    font-size: 300%;
    flex-grow: 1;
    margin: 0;
    margin-right: 20%;
    text-align: right;
}


.miningpic {
    width: 50%;
    margin-left: 25%;
    opacity: 60%;
}

.extraction {
    display: flex;
    justify-content: flex-start;
    column-gap: 5px;
    padding-bottom: 10%;
    align-items: center;
}

.extraction>* {
    margin: 0;
}

.extractiondescription {
    font-size: 250%;
    margin-left: 5%;
    margin-right: 3%;
    text-align: right;
}

.story {
    padding: 7%;
    font-size: 350%;
}

.landfill {
    margin-left: 47%;
}

.pollution {
    display: flex;
    padding-bottom: 5%;
    align-items: center;
}

.pollution>* {
    margin: 0;
}

.pollution p {
    font-size: 275%;
    margin-right: 5%;
    margin-left: 5%;
    text-align: left;
}

.child {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    align-items: center;
}

.child>*,
.minerals>* {
    margin: 0;
}

.child p {
    text-align: right;
    font-size: 250%;
    margin-right: 10%;
    margin-left: 5%;
}

.child img {
    margin-left: 5%;
}

.cobalt {
    width: 50%;

}

.minerals {
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
}

.minerals p {
    text-align: left;
    font-size: 300%;
    margin-left: 10%;
    margin-right: 5%;
}


.fade-in-item {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in-item.visible {
    opacity: 1;
}