body {
    font-family: sans-serif;
    background-color: rgb(76, 152, 177);
    ;
    margin: 0 auto;
    padding: 0;
}

header {
    background-color: white;
    padding: 3%;
}



h1 {
    font-size: 500%;
    text-align: center;
    padding-bottom: 0;
    margin-top: 2%;
    margin-bottom: 5%;
    letter-spacing: 25px;
    font-weight: 500;
    
  
}

.header {
    margin-left: 25%;
    width: 50%;
  
}

.i {
    color: rgb(76, 147, 169);
    font-weight: 600;
}



nav a {
    color: black;
    text-decoration-line: none;
    font-size: 150%;
    letter-spacing: 5px;
    font-weight: 500;

}

nav li a:hover {
    background-color: black;
    color: white;
    padding: 15%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 10%;



}

.homenav {
    padding-bottom: 12%;
}

h2 {
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 250%;
    padding: 3%;
    letter-spacing: 5px;
}

.team-member {
    display: inline-block;
    margin: 10px;
    width: 200px;
}

.team-member img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.meet-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.team-member {
    margin: 20px;
    text-align: center;
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 40px;
    padding-top: 15px;
    font-family: Arial, sans-serif;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    margin-top: 100px;

}

.footer {
    color: black;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 2;
}

.footerp {
    padding-top: 0;
    font-weight: 300;
    font-size: 120%;
    color: black;
}

.iphone {
    width: 50%;
    height: 50%;
}

p {
    text-align: center;
    color: white;
    font-size: 150%;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: 100;
}

.name {
    font-size: 120%;
}

.team-member p {
    font-size: 95%;
}

.mission-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    /*background-color: rgba(200, 249, 255, 0.635);*/
    margin-left: 10%;
    margin-right: 10%;
}

/* style for each mission */
.mission {
    width: 60%;
    max-width: 800px;
background-color: rgba(200, 249, 255, 0.635);
   
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 40px;
    text-align: center;
    transition: all .2s ease-in-out;
}

.mission h3 {
    font-size: 190%;
    margin-bottom: 20px;
    margin-top: 0px;
    font-weight: lighter;
}

.mission p {
    font-size: 130%;
    line-height: 1.5;
    margin: 0;
    color: black;
}


